<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
    <br>
    <%= @user.email %>
</h1>



<div class="btn-group-vertical">
    <button class="btn"><%= link_to "野菜", get_category_user_path("野菜"), remote:true %></button>
    <button class="btn"><%= link_to "果物", get_category_user_path("果物"), remote:true %></button>
    <button class="btn"><%= link_to "お肉", get_category_user_path("お肉"), remote:true %></button>
    <button class="btn"><%= link_to "お魚", get_category_user_path("お魚"), remote:true %></button>
    <button class="btn"><%= link_to "乳製品", get_category_user_path("乳製品"), remote:true %></button>
    <button class="btn"><%= link_to "卵", get_category_user_path("卵"), remote:true %></button>
    <button class="btn"><%= link_to "その他", get_category_user_path("その他"), remote:true %></button>
</div>

<div class="col-xs-6">

    <table border="1">
        <tr>
            <th>食材名</th>
            <th>個数</th>
            <th>期限</th>
        </tr>
        <tbody id="stacks"></tbody>
    </table>
</div>
    <div class="row">
        <aside class="col-xs-4 col-xs-offset-8">
            <section class="stock_form">
                <%= render 'shared/stock_form' %>
            </section>
        </aside>
    </div>
    
<%= link_to "レシピ検索", stock_recipe_user_path, class: "btn btn-lg btn-primary" %>
    
  